// Next

$white: rgb(255, 255, 255);
$white-2: #eeeeee;
$white-3: #dddddd;
$black: #222222;
$black-2: #333333;
$gray: #999999;

$text-color: $black-2;
$text-disabled: $gray;
$text-reverse: $white-3;

$brand-primary: rgb(241, 104, 34);
$brand-secondary: #96c348;
$bg-dark: #190c09;
$bg-light: rgb(239, 240, 235);

$nav-bg-color: rgb(255, 255, 255); // #d0d1cd;
$nav-drop-bg-color: #eff0eb; // #f9f9f9;

$error-primary: #ff0033;
$error-secondary: rgb(255, 212, 209);


$link: $brand-primary;
$link-visited: $brand-primary;
$link-hover: darken($brand-primary, 15%);


//Responsiveness Sizes

$bp-small: 900px; //560px;
$content-width: 960px;
$desktop: 1152px !default;